body {
	padding-top: 10px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.content-sizing {
	padding-left: 90px;
	padding-right: 90px;
	color:#878787;
}

.main-title {
	font-size: 40px;
}

.main-content {
	font-size: 1.4em;
}

.name-color {
	color: black;
}

.sub-title {
	font-size: 35px;
}

.sub-date {
	font-size: 13px;
}